---
import Layout from "../../layouts/Layout.astro";
import SpecialButton from "../../components/SpecialButton.astro";
---

<Layout
  title="Jacob Cottam - Blog"
  description="Web developer with strong focus on performance and user experience"
>
  <h1 class="text-white text-3xl mb-2">Blog</h1>
  <h2 class="text-white text-2xl mb-5">Currently a work-in-progress</h2>
  <SpecialButton />
</Layout>
