---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Jacob Cottam - Blog"
  description="Web developer with strong focus on performance and user experience"
>
  <h1 class="text-white text-3xl">Blog</h1>
  <h2 class="text-white text-2xl">Currently a work-in-progress</h2>
</Layout>
