---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import IntroductionCard from "../components/IntroductionCard.astro";
import AboutMe from "../components/AboutMe.astro";
import ContactCard from "../components/ContactCard.astro";
import TimeZoneCard from "../components/TimeZoneCard.astro";
import Now from "../components/Now.astro";
import SpecialButton from "../components/SpecialButton.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const springConfig = { velocity: 100, stiffness: 50, damping: 10 };
  const staggerDelay = 0.3;
  const duration = 0.4;

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration,
        delay: stagger(staggerDelay),
        easing: spring(springConfig),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Jacob Cottam - Web Developer"
  description="Web developer with strong focus on performance and user experience"
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <IntroductionCard />
    <AboutMe />
    <ContactCard />
    <TimeZoneCard />
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Blog"
      href="/blog"
    />
    <Now />
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">
        © 2023 · Crafted with ♥️ using <a
          href="https://astro.build/"
          target="_blank"
          class="text-red-500">Astro</a
        > by Jacob.
      </p>
    </Card>
  </main>
</Layout>
