---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hello, I'm Jacob, a Web Developer from Preston, Lancashire, United
      Kingdom.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Javascript / HTML / CSS</li>
        <li>AstroJS / SolidJS / React</li>
        <li>TypeScript / JSX / Tailwind</li>
        <li>Git / Github</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      My professional journey is deeply intertwined with my personal interests.
      I have a keen interest in Website Development, always exploring new
      technologies and approaches to enhance user experience. Risk Management is
      another area where I apply my analytical skills, ensuring that projects
      are resilient and secure.
    </p>
    <p class="text-sm font-light">
      I'm dedicated to continuous learning and skill development, which keeps me
      adaptable in the ever-evolving tech landscape. Cooking is a passion that
      allows me to experiment and enjoy creativity in a different form. Gaming
      provides me a way to unwind and engage with interactive storytelling.
    </p>
    <p class="text-sm font-light">
      Keeping fit is important to me; it's not just about physical health, but
      also about maintaining mental clarity and focus. Beyond these, I have a
      deep appreciation for design, 3D modeling, and traveling, which open up
      new horizons for inspiration and innovation. An unusual hobby of mine is
      collecting vintage passports, as they serve as fascinating historical
      artifacts.
    </p>
    <p class="text-sm font-light">
      In my work, I don't limit myself to a set of predefined tools. I believe
      in selecting the most effective tools for each specific project, ensuring
      the best possible outcome. This approach helps me to tailor solutions that
      precisely meet project needs and objectives.
    </p>
  </div>
</Card>
