---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light mt-2">
      Hello, I'm Jacob, a Web Developer based in the United Kingdom.
      <br />
      <p class="text-sm font-light">My primary tools of choice includes:</p>
      <ul class="list-disc list-inside">
        <li>Javascript / HTML / CSS</li>
        <li>AstroJS / SolidJS / React</li>
        <li>TypeScript / JSX / Tailwind</li>
        <li>Git / Github</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I'm a <span class="font-semibold"
        >dedicated and self-taught Web Developer</span
      > from Preston. My expertise spans <span class="font-semibold"
        >JavaScript, HTML, CSS</span
      >, and various <span class="font-semibold">JavaScript frameworks</span>,
      leveraging tools like <span class="font-semibold">Git/Github</span> for
      efficient development. Since beginning my professional web development
      journey in <span class="font-semibold">2022</span>, I've focused on
      crafting
      <span class="font-semibold">user-centric and responsive websites</span>,
      continually embracing new technologies and methodologies to stay at the
      forefront of web design and development.
    </p>
  </div>
</Card>
